---
title: Advanced Goal
---

<p>Let's setup an advanced goal using a multi-step funnel. </p>
<p>Clicking the Add to cart button below should trigger an event using Matomo Tag Manager</p>


<%= link_to 'Add to cart', '/funnel/step-1.html', :class => "cart-add-to" %>
