---
title: Basic Goal
---

<p>Setting up a basic goal. Clicking the link below will take you to the sign up success page for a newsletter registration that is being tracked in Matomo</p>

<p><%= link_to 'Newsletter Signup', '/newsletter-success.html' %></p>
